.containerButton {
  display: flex;
}

.section__button {
  padding: 3rem 0 0 5rem;
}

.section__button__title {
  color: #4f4f4f;
  font-family: var(--font-poppins);
  font-weight: 500;
  line-height: normal;
  font-size: 1.5rem;
  margin: 0 0 1.75rem;
}

.section__button__container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.container__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.container__buttons div {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.container__buttons__span,
.container__buttons__span-color {
  margin-bottom: 1rem;
  color: var(--dark-charcoal);
  font-size: 0.75rem;
  font-weight: 400;
  font-family: var(--font-ubuntu);
  line-height: normal;
}

.container__buttons__span-color {
  color: #828282;
}

.btn-size-three {
  grid-template-columns: repeat(3, 1fr);
}

.btn-size-four {
  grid-template-columns: repeat(4, 1fr);
}
