.custom__input {
  width: 12.5rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  border: 1px solid var(--old-silver);
  padding: 0.75rem;
  text-align: start;
  outline: none;
}

.custom__input::placeholder {
  font-family: var(--font-noto);
  font-weight: 500;
  line-height: normal;
}

.custom__input {
  color: var(--dark-charcoal);
  font-size: 0.875rem;
}

.containerInput {
  position: relative;
}

.icon-phone,
.icon-lock {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.icon-phone {
  left: 12%;
}

.placeholder-icon {
  padding-left: 3rem;
}

.material-icons.icon-gray {
  color: var(--old-silver);
}

.icon-lock {
  right: 0%;
}

.input-height {
  height: 2.5rem;
}

.input-container-width-full {
  display: inline-block !important;
}

.input-width-full {
  width: 64rem;
}
.input-textarea {
  height: 9.375rem;
}
