.menu {
  width: 100%;
  max-width: 14rem;
  padding: 2.3rem 0 0 3rem;
  background-color: var(--ghost-white);
}

.menu a {
  text-decoration: none;
}

.menu__text {
  font-family: var(--font-poppins);
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: normal;
  color: #090f31;
  margin-bottom: 7.6rem;
}

.menu__text-span {
  color: var(--portland-orange);
}

.menu__ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.menu__ul li {
  list-style: none;
}

.menu__ul__a {
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: normal;
  color: var(--spanish-gray);
  font-family: var(--font-poppins);
  text-decoration: none;
}

.active {
  color: var(--cetacean-blue);
  font-weight: 700;
}
